name: Deploy documentation to GitHub Pages
on: [push, pull_request, workflow_dispatch]
permissions:
    contents: write
    pages: write
    id-token: write
jobs:
  build:
    name: python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - name: Install the project
        run: uv sync --all-extras --dev
      - name: Sphinx build
        env:
          PYTHONPATH: ${{ github.workspace }}
        run: uv run sphinx-build source _build
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: _build

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4